<div class="card mt-5">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <div class="card-body">

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== undefined && successMessage === undefined">
      {{errorMessage}}
    </div>

    <div class="alert alert-success" role="alert" *ngIf="successMessage !== undefined && errorMessage === undefined">
      {{successMessage}}
    </div>
    
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          formControlName="email" 
          type="email" 
          class="form-control" 
          name="email" 
          placeholder="email@email.com"
          [class.is-valid]="loginForm.controls['email'].valid && loginForm.controls['email'].touched"
          [class.is-invalid]="
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched && 
            (loginForm.controls['email'].errors?.required ||
            loginForm.controls['email'].errors?.email)"  
        >
        <small class="form-text text-muted">Escribe tu email.</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input 
          formControlName="password" 
          type="password" 
          class="form-control" 
          name="password" 
          placeholder="Password"
          [class.is-valid]="loginForm.controls['password'].valid && loginForm.controls['password'].touched"
          [class.is-invalid]="
            loginForm.controls['password'].invalid && 
            loginForm.controls['password'].touched && 
            loginForm.controls['password'].errors?.required"
        >
        <small class="form-text text-muted">Escribe tu password</small>
      </div>

      <button type="submit" class="btn btn-primary" (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>
    </form>

  </div>
</div>