<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Boletas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item" *ngIf="auth.token !== undefined && auth.token !== null">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Perfil</a>
        </li>
        <li class="nav-item" *ngIf="auth.token !== undefined && auth.token !== null">
          <a class="nav-link" routerLink="/my-tickets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mis Boletas</a>
        </li>
        <li class="nav-item" *ngIf="auth.token === undefined || auth.token === null">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Registro</a>
        </li>
        <li class="nav-item" *ngIf="auth.token === undefined || auth.token === null">
          <a class="nav-link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li>
        <li class="nav-item" *ngIf="auth.token !== undefined && auth.token !== null && user.user?.role === 'admin'">
          <a class="nav-link" routerLink="admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="auth.token !== undefined && auth.token !== null && user.user?.role === 'admin'">
          <a class="nav-link" routerLink="admin/configuration" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Configuración</a>
        </li>
        <li class="nav-item" *ngIf="auth.token !== undefined && auth.token !== null">
          <button class="btn btn-link logout" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
