<div class="card mt-5">
  <div class="card-header">
    <h2>Perfil</h2>
  </div>
  <div class="card-body">

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== undefined">
      {{errorMessage}}
    </div>

    <div class="alert alert-success" role="alert" *ngIf="successMessage !== undefined">
      {{successMessage}}
    </div>
    
    <form [formGroup]="userDataForm">
      <div class="form-group">
        <label for="name">Nombres</label>
        <input 
          formControlName="name" 
          type="text" 
          class="form-control" 
          name="name" 
          placeholder="Nombres"
          [class.is-valid]="userDataForm.controls['name'].valid && userDataForm.controls['name'].touched"
          [class.is-invalid]="userDataForm.controls['name'].invalid && userDataForm.controls['name'].touched && userDataForm.controls['name'].errors.required"
          >
        <small class="form-text text-muted">Escribe tus nombres.</small>
      </div>

      <div class="form-group">
        <label for="lastname">Apellidos</label>
        <input 
          formControlName="lastname" 
          type="text" 
          class="form-control" 
          name="lastname" 
          placeholder="Apellidos"
          [class.is-valid]="userDataForm.controls['lastname'].valid && userDataForm.controls['lastname'].touched"
          [class.is-invalid]="userDataForm.controls['lastname'].invalid && userDataForm.controls['lastname'].touched && userDataForm.controls['lastname'].errors?.required"
        >
        <small class="form-text text-muted">Escribe tus apellidos.</small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input 
          formControlName="email"
          type="email" 
          class="form-control" 
          name="email" 
          placeholder="email@email.com"
          >
        <small class="form-text text-muted">Escribe tu email.</small>
      </div>

      <button type="submit" class="btn btn-primary" (click)="onUpdate()" [disabled]="userDataForm.invalid">Actualizar</button>
    </form>

  </div>
</div>
